# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Data
data/raw/
data/processed/

# Artifacts
artifacts/
*.pkl
*.joblib
*.pt
*.pth
*.onnx

# Env files
.env